.overflow-nav {
  @media @bw1020 {
    overflow: hidden;
  }
}

.overflow {
  overflow: hidden;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}